.case {
    border: 1px solid black;
    width: 1.1vw;
    text-align: center;
    height: 1.1vw;
    font-size: 1.1vw;
  }
    .case:hover {
        background-color: grey;
      cursor: pointer;
    }
  .d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .direction-column {
    flex-direction: column;
  }
  .bomb{
    background-color: red;
    color: white;
  }
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  h1{
    text-align: center;
  }